*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--col-gray-1);
  background-color: var(--col-white);
  min-height: 100vh;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
