.position-fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  color: var(--col-gray-3);
  font-style: italic;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.mx-1 {
  margin: 0 0.5rem;
}

.mx-2 {
  margin: 0 1rem;
}

.mx-3 {
  margin: 0 1.5rem;
}

.mx-4 {
  margin: 0 2rem;
}

.my-1 {
  margin: 0.5rem 0;
}

.my-2 {
  margin: 1rem 0;
}

.my-3 {
  margin: 1.5rem 0;
}

.my-4 {
  margin: 2rem 0;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}
