.ul {
  list-style-type: none;
}

.li {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}

.li:last-child {
  margin-bottom: 0;
}

.icon {
  &Svg {
    width: 2.0rem;
    margin-right: 1.0rem;
  }
  &Path {
    fill: var(--col-gray-3);
  }
}
