.fieldset {
  border: none;
  display: contents;
}

.form {
  display: grid;
  grid-template-areas:
    "name kind"
    "instructions instructions"
    "exercises exercises";
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  @media screen and (max-width: 67.8rem) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "name"
      "kind"
      "instructions"
      "exercises";
    grid-gap: 1.5rem;
  }
}

.field {
  width: 100%;

  &Name {
    grid-area: name;
  }

  &Kind {
    grid-area: kind;
  }

  &Instructions {
    grid-area: instructions;
  }

  &Exercises {
    grid-area: exercises;
  }
}

.multiline {
  display: grid;
  grid-template-columns: 1fr 6.5rem 2fr 2.2rem;
  gap: 0 1rem;
  align-items: start;

  & > * label {
    display: none;
  }

  &:first-child > * label {
    display: block;
  }

  @media screen and (max-width: 67.8rem) {
    grid-template-columns: 1fr;
    gap: 0.5rem 0;
    margin-bottom: 1.5rem;

    & > * label {
      display: block;
    }
  }
}

.formButtons {
  margin-top: 1.6rem;
  &Submit {
    margin-right: 0.8rem;
  }
}

.btn {
  &Add {
    width: 100%;
    margin-top: 0.5rem;
  }

  &Delete {
    align-self: center;
    transform: translateY(-0.35em);
    &:hover {
      animation: wiggle 150ms ease-in-out alternate infinite;
    }
  }
}

.trash {
  &Svg {
    width: 2.2rem;
  }
  &Path {
    fill: var(--col-gray-1);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
