.chat {
  &Svg {
    width: 18px;
  }
  &Path {
    fill: var(--col-gray-2);
  }
}

.headerCell:nth-child(3) {
  width: 150px;
  text-align: center;
}

.bodyCell:nth-child(3) {
  text-align: center;
}

.exerciseLink {
  text-decoration: none;
}
