@import "variables.scss";

$musclesSize: 300px;
$breakpoint: 567px;

.columns {
  display: flex;

  @media screen and (max-width: $breakpoint) {
    flex-direction: column;
    align-items: center;
  }
}

.column {
  & > * {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:first-child {
    padding-right: 2rem;
    width: $musclesSize;
    border-right: $content-separator-border;

    @media screen and (max-width: $breakpoint) {
      border: none;
      padding-right: 0;
      margin-bottom: 2rem;
    }
  }

  &:last-child {
    flex-grow: 1;
    padding-left: 2rem;

    @media screen and (max-width: $breakpoint) {
      padding-left: 0;
    }
  }
}

.musclesSvg {
  width: $musclesSize;
  height: $musclesSize;
}

.goBack {
  transition: transform 150ms ease-in-out;
  margin-bottom: 1.5rem;

  &:hover {
    transform: translateX(-10px);
  }
}

.box {
  text-align: center;
  padding: 2rem;
}

.routineButtons {
  display: grid;

  & > * {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  span {
    text-align: center;
  }
}
