$breakpoint: 56.7rem;

.Nav {
  --separator-width: 0.2rem;
  --margin-bottom: 3.2rem;

  display: flex;
  justify-content: space-between;

  border-bottom: var(--separator-width) solid var(--col-gray-5);
  margin-bottom: var(--margin-bottom);

  @media screen and (max-width: $breakpoint) {
    flex-direction: column;
    align-items: stretch;
    border-bottom: none;
  }

  &_linkList {
    display: flex;
    align-items: center;
    margin-bottom: calc((-1) * var(--separator-width));
    list-style: none;

    @media screen and (max-width: $breakpoint) {
      margin-bottom: 3.2rem;
      border-bottom: var(--separator-width) solid var(--col-gray-5);
      justify-content: space-around;
    }
  }

  &_link {
    padding: 1.25em 0;
    display: block;
    font-size: 0.9em;
    text-decoration: none;
    color: inherit;
    margin-right: 4em;

    &___active {
      font-weight: bold;
      border-bottom: var(--separator-width) solid var(--col-gray-1);
    }

    @media screen and (max-width: $breakpoint) {
      margin-right: 0;
      transform: translateY(0.2rem);
    }
  }

  &_control {
    display: flex;
    align-items: center;
  }

  &_search {
    height: 3.2rem;
    border: 0.2rem solid var(--col-gray-5);
    padding: 0 0.5em;
    border-radius: 0.3rem;

    @media screen and (max-width: $breakpoint) {
      width: 100%;
    }
  }
}

.ButtonAdd {
  display: grid;
  place-items: center;
  margin-left: 1rem;

  &_svg {
    height: 3.2rem;
    width: 3.2rem;
  }

  &_border {
    fill: var(--col-gray-4);
  }

  &_cross {
    fill: var(--col-gray-4);
    stroke: var(--col-gray-4);
    stroke-width: 1.5rem;
  }

  &:hover &_border {
    fill: none;
  }

  &:hover &_cross {
    fill: var(--col-white);
    stroke: var(--col-white);
  }

  &:hover &_background {
    fill: var(--col-gray-3);
    opacity: 1;
  }
}
