.table {
  width: 100%;
  font-size: 12px;
  table-layout: fixed;
}

.header {
  font-weight: bold;

  &Row {
    background-color: var(--col-gray-6);
  }

  &Cell {
    color: var(--col-gray-3);
    text-align: left;
    padding: 1em;
  }

  &Cell:last-child {
    width: 25%;
    text-align: right;
  }
}

.body {
  &Row {
    border-bottom: 1px solid var(--col-gray-6);
    height: 3.5rem; // works like min-height
  }

  &Cell:last-child {
    text-align: right;
  }

  &Cell {
    text-align: left;
    padding: 1em;
  }

  &Cell a {
    text-decoration: none;
    color: inherit;
  }
}

.footer {
  font-weight: bold;

  &Row {
    background-color: var(--col-gray-6);
  }

  &Cell {
    color: var(--col-gray-3);
    padding: 1em;
  }

  &Cell:last-child {
    text-align: right;
  }
}
