@import "index.scss";

.appContent {
  position: relative;
  left: var(--sidebar-width);
  width: calc(100vw - var(--sidebar-width));
  min-height: calc(100vh - var(--header-height));

  // box-shadow: 0 0 0.5rem 0.5rem red inset;
  padding: 4.8rem;

  @media screen and (max-width: $sidebar-breakpoint) {
    left: 0;
    width: 100%;
    padding: 2.4rem;
  }
}
