<div id="root">
    <nav class="header">
        <a class="header__logo" href="/">Workout App</a>
        <div class="header__nav">
            <a href="/login">
                <button class="Button_btn__3zvTi">Login</button>
            </a>
            <a href="/signup">
                <button class="Button_btn__3zvTi mx-1">Sign up</button>
            </a>
        </div>
    </nav>
    <div class="Body_body__tJxXt">
        <div class="LoginPage_container__u0fpo">
            <form class="LoginForm_form__HBy7_">
                <h1 class="LoginForm_title__1BrkI">Log in</h1>
                <fieldset class="LoginForm_fieldset__3v_jZ">
                    <div>
                        <label class="FormElementLabel_label__16xq2" for="username">Username</label>
                        <input name="username" id="username" type="text" placeholder="username" class="Input_input__2NJOA" value="kmb">
                        <div class="FormElementError_error__2dcSL"></div>
                    </div>
                    <div>
                        <label class="FormElementLabel_label__16xq2" for="password">Password</label>
                        <input name="password" id="password" type="password" placeholder="password" class="Input_input__2NJOA" value="test">
                        <div class="FormElementError_error__2dcSL"></div>
                    </div>
                </fieldset>
                <div class="LoginForm_buttons__1tBLX">
                    <button class="Button_btn__3zvTi Button_btn--dark__2uKg5 LoginForm_buttons__login__1HLDK" type="submit">Submit</button>
                </div>
                <a class="LoginForm_link__xtzKP" href="/signup/">Don't have an account yet?</a>
            </form>
        </div>
    </div>    
    &gt;
</div>