@import "index.scss";

.Header {
  // layout
  z-index: 10;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  height: var(--header-height);

  // inside layout
  display: flex;
  justify-content: space-between;
  align-items: center;

  // style
  background-color: var(--col-gray-1);
  color: white;
  padding: 0 2.4rem;

  &_logo {
    font-size: 2.4rem;
    text-decoration: none;
    color: inherit;
  }

  &_menu {
    display: flex;
    align-items: center;
    @include spread-children-vertically(2rem);
  }
}
