.container {
  position: relative;
  width: 100%;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));

  display: grid;
  place-items: center;

  background-color: var(--col-gray-3);
  background-image: url("/images/empty_bar.jpeg");
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
}

.info {
  transform: translateY(-50px);
  text-align: center;
}

.title {
  font-size: 4rem;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 1.15rem;
  color: var(--col-gray-2);
  font-style: italic;
  line-height: 1.5;
}
