.list-item {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;

  &__span {
    margin-left: 1.0rem;

    &--error {
      color: var(--col-gray-3);
      font-style: italic;
      font-size: 0.9em;
    }
  }

  &__span a {
    color: inherit;
  }
}

.icon {
  &Svg {
    width: 2.0rem;
  }
  &Path {
    fill: var(--col-gray-3);
  }
}
