.row {
  border-bottom: 0.1rem solid var(--col-gray-6);
  height: 5.6rem; // works like min-height

  &__cell:last-child {
    text-align: right;
  }

  &__cell {
    text-align: left;
    padding: 1em;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
