.content {
  display: flex;
  margin-top: 2.4rem;

  @media screen and (max-width: 70rem) {
    flex-direction: column;
    row-gap: 6.4rem;
  }
}

.content__info {
  margin-right: 3rem;
  max-width: 25rem;

  & > *:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  @media screen and (max-width: 70rem) {
    align-self: center;
  }
}

.content__more {
  flex: 2;
  padding: 0 3.2rem;

  & > *:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  @media screen and (min-width: 70rem) {
    border-left: 0.1rem solid var(--col-gray-5);
  }
}

.goBack {
  transition: transform 150ms ease-in-out;

  &:hover {
    transform: translateX(-1rem);
  }
}
