.fieldset {
  border: none;
  display: contents;
}

.form {
  display: grid;
  grid-template-areas:
    "name name name"
    "kind kind kind"
    "instructions instructions instructions"
    "muscles tags tutorials";
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  @media screen and (max-width: 67.8rem) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "name"
      "kind"
      "instructions"
      "muscles"
      "tags"
      "tutorials";
    grid-gap: 1.5rem;
  }
}

.field {
  width: 100%;

  &--name {
    grid-area: name;
  }

  &--kind {
    grid-area: kind;
  }

  &--instructions {
    grid-area: instructions;
  }
}

.form__buttons {
  margin-top: 1.6rem;

  button {
    margin-right: 0.5em;
  }
}

.multiline {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.btn {
  &--add {
    margin-top: 0.6rem;
    width: 100%;
    @media screen and (max-width: 67.8rem) {
      margin-top: 0;
    }
  }
}

.btn {
  &Delete {
    margin-left: 0.5rem;
    margin-top: 0.8rem;

    &:hover {
      animation: wiggle 150ms ease-in-out alternate infinite;
    }
  }
}

.trash {
  &Svg {
    width: 2.2rem;
  }
  &Path {
    fill: var(--col-gray-1);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
