.div {
  height: 75px;
  line-height: 75px;

  font-size: 0.95em;
  font-style: italic;
  text-align: center;
  color: var(--col-gray-3);
  background-color: var(--col-gray-6);
  border: 1px solid var(--col-gray-5);
  border-radius: 3px;
}
