.buttons {
  display: flex;
  flex-direction: column;

  &__btn {
    margin: 0.5rem 0;
  }

  &__span--error {
    margin: 0.5rem 0;
    color: var(--col-gray-3);
    text-align: center;
    font-style: italic;
  }
}
