.Label {
  & input[type="file"] {
    display: none;
  }

  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border-radius: 0.3rem;
  padding: 0.4em 0.8em;
  font-size: 1em;
  border: 0.1rem solid var(--col-gray-1);
  background-color: var(--col-gray-2);
  color: var(--col-white);
}
