.label {
  display: block;
  margin-bottom: 0.35em;
}

.textarea {
  width: 100%;
  border: 1px solid var(--col-gray-3);
  padding: 0.75em;
  border-radius: 3px;
  margin-bottom: 0.5em;
  font-size: 0.85em;

  &::placeholder {
    color: var(--col-gray-2);
  }
}

.textarea {
  // This ensures that resizing can be done only vertically
  resize: vertical;

  &--error {
    background-color: var(--col-error-6);
  }
}

.error {
  color: var(--col-error-1);
  font-size: 0.8em;
}
