.Button {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;

  &__normal {
    border-radius: 0.3rem;
    padding: 0.4em 0.8em;
    font-size: 1em;
  }

  &__small {
    border-radius: 0.2rem;
    padding: 0.32em 0.64em;
    font-size: 0.85em;
  }

  &__light {
    background-color: var(--col-gray-6);
    border: 0.1rem solid var(--col-gray-5);
    color: var(--col-gray-1);
    &:disabled {
      color: var(--col-gray-4);
    }
  }

  &__light:hover {
    background-color: var(--col-gray-5);
    &:disabled {
      background-color: var(--col-gray-6);
    }
  }

  &__dark {
    border: 0.1rem solid var(--col-gray-1);
    background-color: var(--col-gray-2);
    color: var(--col-white);
    &:disabled {
      color: var(--col-gray-3);
    }
  }

  &__dark:hover {
    background-color: var(--col-gray-1);
    &:disabled {
      background-color: var(--col-gray-2);
    }
  }

  &__error {
    border: 0.1rem solid var(--col-error-5);
    background-color: var(--col-error-6);
    color: var(--col-error-1);
    &:disabled {
      color: var(--col-error-3);
    }
  }

  &__error:hover {
    background-color: var(--col-error-5);
    &:disabled {
      background-color: var(--col-error-6);
    }
  }
}
