.List {
  list-style-type: none;
  font-size: 1.3rem;

  &_listItem {
    display: grid;
    grid-template-rows: 2.3rem 2.3rem;
    grid-template-columns: 4rem 1fr;

    &:not(:last-child) {
      margin-bottom: 2.3rem;
    }
  }

  &_listItemIconWrapper {
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: start;

    & svg {
      width: 2.1rem;
      & path {
        fill: var(--col-gray-3);
      }
    }
  }

  &_listItemLabel {
    grid-column: 2 / 3;
    align-self: center;
    color: var(--col-gray-2);
  }

  &_listItemText {
    grid-column: 2 / 3;
    align-self: center;
    color: var(--col-gray-1);
    font-weight: bold;
  }
}
