.notification {
  width: 100%;
  padding: 1em;
  margin-bottom: 10px;
  border-radius: 3px;
  color: var(--col-gray-1);
  border: 1px solid var(--col-gray-4);
  background-color: var(--col-gray-6);
}

.notification--success {
  color: var(--col-success-1);
  border: 1px solid var(--col-success-5);
  background-color: var(--col-success-6);
}

.notification--error {
  color: var(--col-error-1);
  border: 1px solid var(--col-error-5);
  background-color: var(--col-error-6);
}

.notification--warning {
  color: var(--col-warning-1);
  border: 1px solid var(--col-warning-5);
  background-color: var(--col-warning-6);
}
