:root {
  --col-white: #ffffff;
  --col-gray-1: #333333;
  --col-gray-2: #4f4f4f;
  --col-gray-3: #828282;
  --col-gray-4: #bdbdbd;
  --col-gray-5: #e0e0e0;
  --col-gray-6: #f2f2f2;
  --col-error-1: #721c24;
  --col-error-2: #91363f;
  --col-error-3: #b55b64;
  --col-error-3: #fb98a1;
  --col-error-5: #f5c6cb;
  --col-error-6: #f8d7da;
  --col-success-1: #155724;
  --col-success-5: #c3e6cb;
  --col-success-6: #d4edda;
  --col-warning-1: #856404;
  --col-warning-5: #ffeeba;
  --col-warning-6: #fff3cd;

  --header-height: 80px;
  --sidebar-width: 225px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // default font
  font-family: "Roboto", sans-serif;
  color: var(--col-gray-1);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-height: 100vh;
  background-color: var(--col-white);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Utility classes
.position-fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  color: var(--col-gray-3);
  font-style: italic;
}

.mx-1 {
  margin: 0 5px;
}
.mx-2 {
  margin: 0 10px;
}
.mx-3 {
  margin: 0 15px;
}
.mx-4 {
  margin: 0 20px;
}
.my-1 {
  margin: 5px 0;
}
.my-2 {
  margin: 10px 0;
}
.my-3 {
  margin: 15px 0;
}
.my-4 {
  margin: 20px 0;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
