.login-form {
  border: 1px solid var(--col-gray-3);
  background-color: var(--col-white);
  padding: 1em;

  &__error {
    color: red;
    font-size: 0.85em;
  }
}

.login-form > * {
  margin: 0.3em;
}
